#
# Upstart Config file for DWSMS
#
# copy this file to /etc/init/dwsms.conf
# then as root you can run `start dwsms`
# the service will run when the host turns on and shutdown when the host turns off
#
# Please change the path below to where the repo fo dwsms lives
#

description "The Dropwizard interface to sending a SMS after a delay"

start on startup
stop on shutdown

script
	cd /home/nick/dwsms
	./run.sh
end script